<div class="container-fluid">
	
	   <!--Logo -->
		<div class="match-header">
      <div class="match-tournament">
          <img src="https://assets.codepen.io/285131/pl-logo.svg" />
           English Premier League
      </div>
    </div>

    <!--Previous Fixtures Sectiion-->
    <div class="row">
      <div class="col-md-3">
        <h3 class="headings">Previous Fixtures</h3>
            <div class="match-content">
              <div class="column">
                <div class="team team--home">
                  <div class="team-logo">
                    <img src="https://assets.codepen.io/285131/whufc.svg" />
                  </div>
                  <h2 class="team-name">West Ham</h2>
                </div>
              </div>
              <div class="column">
                <div class="match-details">
                  <div class="match-date justify-content-center">
                  <p>12 Aug at (time)</p>
                  </div>
                  <div class="match-score">
                    <span class="match-score-number match-score-number--leading">2</span>
                    <span class="match-score-divider">:</span>
                    <span class="match-score-number">0</span>
                  </div>
            
                  <div class="match-referee justify-content-center">
                    Referee: <strong>Joseph Hicks</strong>
                  </div>		
                </div>
              </div>
              <div class="column">
                <div class="team team--away">
                  <div class="team-logo">
                    <img src="https://assets.codepen.io/285131/chelsea.svg" />
                  </div>
                  <h2 class="team-name">Chelsea</h2>
                </div>
              </div>
            </div>
            <!--END-->
            <div class="match-content">
              <div class="column">
                <div class="team team--home">
                  <div class="team-logo">
                    <img src="https://assets.codepen.io/285131/whufc.svg" />
                  </div>
                  <h2 class="team-name">West Ham</h2>
                </div>
              </div>
              <div class="column">
                <div class="match-details">
                  <div class="match-date justify-content-center">
                  <p>12 Aug at (time)</p>
                  </div>
                  <div class="match-score">
                    <span class="match-score-number">2</span>
                    <span class="match-score-divider">:</span>
                    <span class="match-score-number">0</span>
                  </div>
            
                  <div class="match-referee justify-content-center">
                    Referee: <strong>Joseph Hicks</strong>
                  </div>		
                </div>
              </div>
              <div class="column">
                <div class="team team--away">
                  <div class="team-logo">
                    <img src="https://assets.codepen.io/285131/chelsea.svg" />
                  </div>
                  <h2 class="team-name">Chelsea</h2>
                </div>
              </div>
            </div>
      </div>
         <!--Top Scorers Section-->
         <div class="col-md-6">
          <h3 class="headings">Top Scorers</h3>
          <table class="topscorerstable">
            <tr class="scorersHeader">
              <th>Rank</th>
              <th>Player</th>
              <th>Goals</th>
            </tr>
            <tr>
              <td>1</td>
              <td>Maria Anders</td>
              <td>17</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Francisco Chang</td>
              <td>11</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Roland Mendel</td>
              <td>7</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Helen Bennett</td>
              <td>6</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Yoshi Tannamuri</td>
              <td>4</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Giovanni Rovelli</td>
              <td>1</td>
            </tr>
            <tr>
              <td>7</td>
              <td>Giovanni Rovelli</td>
              <td>1</td>
            </tr>
            <tr>
              <td>8</td>
              <td>Giovanni Rovelli</td>
              <td>1</td>
            </tr>
            <tr>
              <td>9</td>
              <td>Giovanni Rovelli</td>
              <td>1</td>
            </tr>
            <tr>
              <td>10</td>
              <td>Giovanni Rovelli</td>
              <td>1</td>
            </tr>
          </table>
         </div>
         <!--Upcoming Fixtures Section-->
         <div class="col-md-3">
          <h3 class="headings">Upcoming Fixtures</h3>
              <div class="match-content">
                <div class="column">
                  <div class="team team--home">
                    <div class="team-logo">
                      <img src="https://assets.codepen.io/285131/whufc.svg" />
                    </div>
                    <h2 class="team-name">West Ham</h2>
                  </div>
                </div>
                <div class="column">
                  <div class="match-details">
                    <div class="match-date justify-content-center">
                    <p>12 Aug at (time)</p>
                    </div>
                    <div class="match-score">
                      <span class="match-score-number match-score-number--leading">2</span>
                      <span class="match-score-divider">:</span>
                      <span class="match-score-number">0</span>
                    </div>
              
                    <div class="match-referee justify-content-center">
                      Referee: <strong>Joseph Hicks</strong>
                    </div>		
                  </div>
                </div>
                <div class="column">
                  <div class="team team--away">
                    <div class="team-logo">
                      <img src="https://assets.codepen.io/285131/chelsea.svg" />
                    </div>
                    <h2 class="team-name">Chelsea</h2>
                  </div>
                </div>
              </div>
              <!--END-->
              <div class="match-content">
                <div class="column">
                  <div class="team team--home">
                    <div class="team-logo">
                      <img src="https://assets.codepen.io/285131/whufc.svg" />
                    </div>
                    <h2 class="team-name">West Ham</h2>
                  </div>
                </div>
                <div class="column">
                  <div class="match-details">
                    <div class="match-date justify-content-center">
                    <p>12 Aug at (time)</p>
                    </div>
                    <div class="match-score">
                      <span class="match-score-number">2</span>
                      <span class="match-score-divider">:</span>
                      <span class="match-score-number">0</span>
                    </div>
              
                    <div class="match-referee justify-content-center">
                      Referee: <strong>Joseph Hicks</strong>
                    </div>		
                  </div>
                </div>
                <div class="column">
                  <div class="team team--away">
                    <div class="team-logo">
                      <img src="https://assets.codepen.io/285131/chelsea.svg" />
                    </div>
                    <h2 class="team-name">Chelsea</h2>
                  </div>
                </div>
              </div>
        </div>

    </div>
</div>