<!-- Home Page -->
<div class="container-fluid">
	
	   <!--Logo -->
		<div  class="match-header ">
      <div routerLink="/" routerLinkActive="active" class="match-tournament">
          <img class="premlogo" src="https://assets.codepen.io/285131/pl-logo.svg" />
           English Premier League
      </div>
    </div>
    
    <nav class="col-md-12 thenav">
      <ul>
         <li><a routerLink="/" routerLinkActive="active">Home</a></li>
         <li><a routerLink="/matches" routerLinkActive="active">Previous Fixtures</a></li> 
         <li><a routerLink="/upcominggames" routerLinkActive="active">Upcoming Fixtures</a></li>
         <li><a routerLink="/topscorer" routerLinkActive="active">Top Scorers</a></li> 
         <li><a routerLink="/leaguetable" routerLinkActive="active">League Table</a></li>
         <li><a routerLink="/teams" routerLinkActive="active">Teams</a></li>
      </ul>
    </nav>

    <!--Contains Previous Fixtures, Top Scorers and Upcoming Fixtures-->
    <!-- <div class="row">
        <app-previous-fixtures class="col-md-3"></app-previous-fixtures>
         <app-topscorers class="col-md-6"></app-topscorers>
         <app-upcoming-fixtures class="col-md-3"></app-upcoming-fixtures>
    </div> -->
    <!--Premier League Table -->
   <!-- <app-league-table class="row justify-content-center"></app-league-table> -->

   <!-- Main Component Display -->
   <router-outlet></router-outlet>
   
   

</div>