<div class="container-fluid">
	
	   <!--Logo -->
		<div class="match-header animate__animated animate__bounceInDown">
      <div class="match-tournament">
          <img class="premlogo" src="https://assets.codepen.io/285131/pl-logo.svg" />
           English Premier League
      </div>
    </div>

    
    <div class="row">
      <!--Previous Fixtures Sectiion-->
      <div class="col-md-3 animate__animated animate__fadeInLeft">
        <h3 class="headings">Previous Fixtures</h3>
            <div class="match-content">
              <div class="column">
                <div class="team team--home">
                  <div class="team-logo">
                    <img src="https://assets.codepen.io/285131/whufc.svg" />
                  </div>
                  <h2 class="team-name">West Ham</h2>
                </div>
              </div>
              <div class="column">
                <div class="match-details">
                  <div class="match-date justify-content-center">
                  <p>12 Aug at (time)</p>
                  </div>
                  <div class="match-score">
                    <span class="match-score-number match-score-number--leading">2</span>
                    <span class="match-score-divider">:</span>
                    <span class="match-score-number">0</span>
                  </div>
            
                  <div class="match-referee justify-content-center">
                    Referee: <strong>Joseph Hicks</strong>
                  </div>		
                </div>
              </div>
              <div class="column">
                <div class="team team--away">
                  <div class="team-logo">
                    <img src="https://assets.codepen.io/285131/chelsea.svg" />
                  </div>
                  <h2 class="team-name">Chelsea</h2>
                </div>
              </div>
            </div>
            <!--END-->
            <div class="match-content">
              <div class="column">
                <div class="team team--home">
                  <div class="team-logo">
                    <img src="https://assets.codepen.io/285131/whufc.svg" />
                  </div>
                  <h2 class="team-name">West Ham</h2>
                </div>
              </div>
              <div class="column">
                <div class="match-details">
                  <div class="match-date justify-content-center">
                  <p>12 Aug at (time)</p>
                  </div>
                  <div class="match-score">
                    <span class="match-score-number">2</span>
                    <span class="match-score-divider">:</span>
                    <span class="match-score-number">0</span>
                  </div>
            
                  <div class="match-referee justify-content-center">
                    Referee: <strong>Joseph Hicks</strong>
                  </div>		
                </div>
              </div>
              <div class="column">
                <div class="team team--away">
                  <div class="team-logo">
                    <img src="https://assets.codepen.io/285131/chelsea.svg" />
                  </div>
                  <h2 class="team-name">Chelsea</h2>
                </div>
              </div>
            </div>
      </div>
         <!--Top Scorers Section-->
         <app-topscorers class="col-md-6" [scorersdata]="scorersdata"></app-topscorers>

         <!--Upcoming Fixtures Section-->
         <div class="col-md-3 animate__animated animate__fadeInRight">
          <h3 class="headings">Upcoming Fixtures</h3>
              <div class="match-content">
                <div class="column">
                  <div class="team team--home">
                    <div class="team-logo">
                      <img src="https://assets.codepen.io/285131/whufc.svg" />
                    </div>
                    <h2 class="team-name">West Ham</h2>
                  </div>
                </div>
                <div class="column">
                  <div class="match-details">
                    <div class="match-date justify-content-center">
                    <p>12 Aug at (time)</p>
                    </div>
                    <div class="match-score">
                      <span class="match-score-number match-score-number--leading">2</span>
                      <span class="match-score-divider">:</span>
                      <span class="match-score-number">0</span>
                    </div>
              
                    <div class="match-referee justify-content-center">
                      Referee: <strong>Joseph Hicks</strong>
                    </div>		
                  </div>
                </div>
                <div class="column">
                  <div class="team team--away">
                    <div class="team-logo">
                      <img src="https://assets.codepen.io/285131/chelsea.svg" />
                    </div>
                    <h2 class="team-name">Chelsea</h2>
                  </div>
                </div>
              </div>
              <!--END-->
              <div class="match-content">
                <div class="column">
                  <div class="team team--home">
                    <div class="team-logo">
                      <img src="https://assets.codepen.io/285131/whufc.svg" />
                    </div>
                    <h2 class="team-name">West Ham</h2>
                  </div>
                </div>
                <div class="column">
                  <div class="match-details">
                    <div class="match-date justify-content-center">
                    <p>12 Aug at (time)</p>
                    </div>
                    <div class="match-score">
                      <span class="match-score-number">2</span>
                      <span class="match-score-divider">:</span>
                      <span class="match-score-number">0</span>
                    </div>
              
                    <div class="match-referee justify-content-center">
                      Referee: <strong>Joseph Hicks</strong>
                    </div>		
                  </div>
                </div>
                <div class="column">
                  <div class="team team--away">
                    <div class="team-logo">
                      <img src="https://assets.codepen.io/285131/chelsea.svg" />
                    </div>
                    <h2 class="team-name">Chelsea</h2>
                  </div>
                </div>
              </div>
        </div>

    </div>


    <!--Premier League Table -->
    <div class="row justify-content-center">
        <div class="col-md-8 tableArea animate__animated animate__fadeInUp">
          <h3 class="leagueHeading">League Table</h3>
                  <table class="leagueTable">
                    <tr class="scorersHeader">
                      <th>#</th>
                      <th>Team</th>
                      <th>GP</th> 
                      <th>W</th>
                      <th>D</th>
                      <th>L</th>
                      <th>GD</th>
                      <th>PTS</th>
                    </tr>
                    <tr class="wpos">
                      <td>1</td>
                      <td>Warriors FC</td>
                      <td>2</td>  <!--games played-->
                      <td>2</td>  <!--wins-->
                      <td>0</td>  <!--draws-->
                      <td>0</td>  <!--losses-->
                      <td>5</td>  <!--goal difference-->
                      <td>6</td>  <!--points-->
                    </tr>
                    <tr class="wpos">
                      <td>2</td>
                      <td>YOLO FC</td>
                      <td>2</td>  <!--games played-->
                      <td>2</td>  <!--wins-->
                      <td>0</td>  <!--draws-->
                      <td>0</td>  <!--losses-->
                      <td>5</td>  <!--goal difference-->
                      <td>6</td>  <!--points-->
                    </tr>
                    <tr class="wpos">
                      <td>3</td>
                      <td>Majestic A</td>
                      <td>2</td>  <!--games played-->
                      <td>2</td>  <!--wins-->
                      <td>0</td>  <!--draws-->
                      <td>0</td>  <!--losses-->
                      <td>5</td>  <!--goal difference-->
                      <td>6</td>  <!--points-->
                    </tr>
                    <tr class="wpos">
                      <td>4</td>
                      <td>Fenris</td>
                      <td>2</td>  <!--games played-->
                      <td>2</td>  <!--wins-->
                      <td>0</td>  <!--draws-->
                      <td>0</td>  <!--losses-->
                      <td>5</td>  <!--goal difference-->
                      <td>6</td>  <!--points-->
                    </tr>
                    <tr class="pos">
                      <td>5</td>
                      <td>La Masia</td>
                      <td>2</td>  <!--games played-->
                      <td>2</td>  <!--wins-->
                      <td>0</td>  <!--draws-->
                      <td>0</td>  <!--losses-->
                      <td>5</td>  <!--goal difference-->
                      <td>6</td>  <!--points-->
                    </tr>
                    <tr class="pos">
                      <td>6</td>
                      <td>Ultra Sort FC</td>
                      <td>3</td>  <!--games played-->
                      <td>1</td>
                      <td>0</td>
                      <td>2</td>
                      <td>-1</td>
                      <td>3</td>
                    </tr>
                    <tr class="pos">
                      <td>7</td>
                      <td>Wasseypur FC</td>
                      <td>2</td>
                      <td>1</td>
                      <td>0</td>
                      <td>1</td>
                      <td>-2</td>
                      <td>3</td>
                    </tr>
                    <tr class="pos">
                      <td>8</td>
                      <td>Majestic B</td>
                      <td>1</td>
                      <td>0</td>
                      <td>1</td>
                      <td>0</td>
                      <td>0</td>
                      <td>1</td>
                    </tr>
                    <tr class="pos">
                      <td>9</td>
                      <td>Not So Hot Spurs</td>
                      <td>2</td>
                      <td>0</td>
                      <td>1</td>
                      <td>1</td>
                      <td>-1</td>
                      <td>1</td>
                    </tr>
                    <tr class="pos">
                      <td>10</td>
                      <td>Silver Hawks</td>
                      <td>2</td>
                      <td>0</td>
                      <td>0</td>
                      <td>2</td>
                      <td>-4</td>
                      <td>0</td>
                    </tr>
                    <tr class="pos">
                      <td>11</td>
                      <td>Barely Legal FC</td>
                      <td>2</td>
                      <td>0</td>
                      <td>0</td>
                      <td>2</td>
                      <td>-5</td>
                      <td>0</td>
                    </tr>
                  </table>
        </div>
  </div>


</div>