<div class="animate__animated animate__fadeInDown">
    <h3 class="headings">Top Scorers</h3>
    <table class="topscorerstable">
      <tr class="scorersHeader">
        <th>Rank</th>
        <th>Player</th>
        <th>Goals</th>
      </tr>
      <tr>
        <td>1</td>
        <td class="scorers">{{scorersdata.api.topscorers[0].firstname}}&nbsp;{{scorersdata.api.topscorers[0].lastname}}</td>
        <td>{{scorersdata.api.topscorers[0].goals.total}}</td>
      </tr>
      <tr>
        <td>2</td>
        <td class="scorers">{{scorersdata.api.topscorers[1].firstname}}&nbsp;{{scorersdata.api.topscorers[1].lastname}}</td>
        <td>{{scorersdata.api.topscorers[1].goals.total}}</td>
      </tr>
      <tr>
        <td>3</td>
        <td class="scorers">{{scorersdata.api.topscorers[2].firstname}}&nbsp;{{scorersdata.api.topscorers[2].lastname}}</td>
        <td>{{scorersdata.api.topscorers[2].goals.total}}</td>
      </tr>
      <tr>
        <td>4</td>
        <td class="scorers">{{scorersdata.api.topscorers[3].firstname}}&nbsp;{{scorersdata.api.topscorers[3].lastname}}</td>
        <td>{{scorersdata.api.topscorers[3].goals.total}}</td>
      </tr>
      <tr>
        <td>5</td>
        <td class="scorers">{{scorersdata.api.topscorers[4].firstname}}&nbsp;{{scorersdata.api.topscorers[4].lastname}}</td>
        <td>{{scorersdata.api.topscorers[4].goals.total}}</td>
      </tr>
      <tr>
        <td>6</td>
        <td class="scorers">{{scorersdata.api.topscorers[5].firstname}}&nbsp;{{scorersdata.api.topscorers[5].lastname}}</td>
        <td>{{scorersdata.api.topscorers[5].goals.total}}</td>
      </tr>
      <tr>
        <td>7</td>
        <td class="scorers">{{scorersdata.api.topscorers[6].firstname}}&nbsp;{{scorersdata.api.topscorers[6].lastname}}</td>
        <td>{{scorersdata.api.topscorers[6].goals.total}}</td>
      </tr>
      <tr>
        <td>8</td>
        <td class="scorers">{{scorersdata.api.topscorers[7].firstname}}&nbsp;{{scorersdata.api.topscorers[7].lastname}}</td>
        <td>{{scorersdata.api.topscorers[7].goals.total}}</td>
      </tr>
      <tr>
        <td>9</td>
        <td class="scorers">{{scorersdata.api.topscorers[8].firstname}}&nbsp;{{scorersdata.api.topscorers[8].lastname}}</td>
        <td>{{scorersdata.api.topscorers[8].goals.total}}</td>
      </tr>
      <tr>
        <td>10</td>
        <td class="scorers">{{scorersdata.api.topscorers[9].firstname}}&nbsp;{{scorersdata.api.topscorers[9].lastname}}</td>
        <td>{{scorersdata.api.topscorers[9].goals.total}}</td>
      </tr>
    </table>
   </div> 
